@media screen and (min-width: 700px) {
    .tecnologias-grupo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas */
        gap: 1rem;
    }




}

@media screen and (max-width: 700px) {
    .tecnologias img {
        max-width: 100%;
        height: auto;
        margin: 1rem;
        margin-left: 2rem;
    }

    .tecnologias-grupo {
        flex-direction: column;
        align-items: center;
    }

    .tecnologias-title {
        font-size: 0.25rem;
    }


}

.tecnologias {
    margin: 2rem auto 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(38, 26, 25, 0.04) 0px 1.51px 5.3px, rgba(38, 26, 25, 0.05) 0px 3.03px 4.54px;
    border-radius: 8px;
}

.tecnologias img {
    margin: 0.3rem;
    margin-left: 6rem;
}

.tecnologias-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1rem;
    color: rgb(131, 126, 147);
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgb(192, 190, 201);
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 900;
}

li img {
    width: 4rem;
    filter: grayscale(100%);
}

li img:hover {
    width: 4rem;
    height: 4rem;
    filter: grayscale(0%);
    cursor: pointer;
}


#section2,
#section3,
#section4 {
    height: auto;
    min-height: 100vh;
}