@media screen and (min-width: 700px) {
    .tecnologias-grupo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

}

@media screen and (max-width: 700px) {
    .tecnologias img {
        max-width: 100%;
        height: auto;
        margin: 1rem;
        margin-left: 2rem;
    }

    .tecnologias-grupo {
        flex-direction: column;
        align-items: center;
    }

    .tecnologias-title {
        font-size: 0.25rem;
    }


}

.tecnologias {
    margin: 2rem auto 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(38, 26, 25, 0.04) 0px 1.51px 5.3px, rgba(38, 26, 25, 0.05) 0px 3.03px 4.54px;
    border-radius: 8px;
}

.tecnologias img {
    margin: 0.3rem;
    margin-left: 6rem;
}

.tecnologias-title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1rem;
    color: rgb(131, 126, 147);
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.25em;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(192, 190, 201);
}

.titles {
    text-align: left;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.25em;
    padding-bottom: 1rem;
}

li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 900;
}

li img {
    width: 4rem;
    filter: grayscale(100%);
}

li img:hover {
    width: 4rem;
    height: 4rem;
    filter: grayscale(0%);
    cursor: pointer;
}


#section2,
#section3,
#section4 {
    height: auto;
    min-height: 100vh;
}

.Download-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.Download-button svg {
    margin-right: 8px;
    width: 25px;
}

.Download-button:hover {
    background: rgb(118, 64, 198);
}

.Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(138, 91, 213, 0.627);
}